<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand ms-3" routerLink="/"
    ><span class="text-info">Wiki </span><span class="text-success">& </span
    ><span class="text-warning">Morty</span></a
  >
  <ul class="navbar-nav ms-3">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        aria-current="page"
        routerLink="/character-list"
        >Character List</a
      >
    </li>
  </ul>
</nav>
