.container {
    display: flex;
    justify-content: center;
}

.card {

    border: none;
    border-radius: 30px;
    width: 80%;
    max-width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg,
            hsla(205, 46%, 30%, 1) 0%,
            hsla(260, 29%, 36%, 1) 100%);


}

.text-danger {
    color: #dc3545;
    margin-top: 0.4em;
    border-left: 3px solid #dc3545;
    padding-left: 0.2em;
}

.card,
#emailHelp {
    color: #ffffff;
}

#emailHelp {
    opacity: .6;
}

.button-64 {
    margin: 0 auto;
}

a {

    &:hover {
        opacity: .7;


    }

    &:active {

        opacity: .5;
    }
}