<button (click)="onGoBack()" class="back-btn btn btn-primary btn-lg mt-3 mb-2">
  <i class="bi bi-arrow-left-short"></i>
  Back
</button>
<app-search-form></app-search-form>
<div
  infinite-scroll
  (scrolled)="onScrollDown()"
  class="row"
  *ngIf="characters.length > 0; else notFound"
>
  <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let character of characters">
    <app-character [character]="character"></app-character>
  </div>
</div>
<ng-template #notFound
  ><div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound">
    <p>No results...</p>
  </div>
</ng-template>
<button
  [ngClass]="'no-hidden'"
  *ngIf="showGoUpButton"
  class="btn btn-dark"
  (click)="onScrollUp()"
>
  Go UP
</button>
