<div
  class="row justify-content-center mt-3"
  *ngIf="character$ | async as character"
>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="card">
      <div class="image">
        <img
          [src]="character.image"
          [alt]="character.name"
          class="card-img-top"
        />
      </div>
      <div class="card-inner">
        <div class="header">
          <h2>{{ character.name | slice : 0 : 15 }}</h2>

          <h4 class="text-muted">Gender: {{ character.gender }}</h4>
          <small class="text-muted">Status: {{ character.status }}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="onGoBack()" class="btn btn-primary btn-lg mt-3">Back</button>
