<div
  class="row justify-content-center mt-3"
  *ngIf="location$ | async as location"
>
  <div class="wrapper">
    <button (click)="onGoBack()" class="back-btn btn btn-primary btn-lg mt-3">
      <i class="bi bi-arrow-left-short"></i>
      Back
    </button>
    <div class="card card-details mt-5">
      <div class="header">
        <h2 class="mb-5 text-info text-center">
          {{ location.name | slice : 0 : 15 }}
        </h2>

        <h4 class="mb-4 text-muted">Species: {{ location.dimension }}</h4>
        <h4 class="mb-4 text-muted">Gender: {{ location.type }}</h4>
      </div>
    </div>
  </div>
</div>
