.form-group {
    width: 100%;
}

.input-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

input {
    width: 100%;
    display: block;
    border-radius: 50px;
    padding: 10px;
    padding-left: 20px;
    border: none;
}


button {
    position: absolute;
    padding: 5px;
    top: 7px;
    right: 20px;
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }

    &:active {
        opacity: .5;
    }
}