* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #272b33;
}

.container {
  margin-top: 60px;
}

.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in-out;
  margin: 10px 0;
  background-color: #ffffff;
  max-width: 529px;
  border: none;
  background-color: #3c3e44;

  img {
    width: 100%;
  }

  &hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.24);
    cursor: pointer;
  }

  .card-inner {
    padding: 10px;
    background-color: #3c3e44;
    border-radius: 5px;
  }

  .header {
    color: #ffffff;
  }
}

.card-img-top {
  opacity: 0.7;
  transition: opacity 0.7;

  &:hover {
    opacity: 1;
  }
}

.no-results {
  color: #ffffff;
}

.card a {
  text-decoration: none;
}

.no-hidden {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #ffffff;
  color: #272b33;
}

.video-mask {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);

}


.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.coded-by {
  position: fixed;
  bottom: 10px;
  color: #fff;
}